<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="{% if section %}{{ section }}-body{% endif %}">

		<header class="topbar">
			<div class="container nav-inner">
				<a class="brand" href="{{ '/' | url }}">albatross</a>
				{% include "components/nav.njk" %}
			</div>
		</header>

		<main class="{% if section %}{{ section }}-page{% endif %}">
			{{ content | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
